# Private Configuration - DO NOT COMMIT ACTUAL VALUES
WALLET_OWNER_BASE=
SOLANA_OWNER_WALLET=
BICONOMY_BUNDLER_URL=
BICONOMY_API_KEY=
GENE9000_ACCESS_TOKEN=
GENE9000_ADMIN_KEY=
PRIVATE_KEY=
SKALE_ENDPOINT=
